<nz-layout>
    <nz-header></nz-header>
    <nz-content class="w-full h-full mt-0 p-4">
    
        <div class=" flex items-center justify-center w-full h-full mt-8" >
          <div class="grid grid-cols-2 w-full gap-4  ">
          <div class="w-104 h-full bg-aqua-100 ">
            <app-employees-summary></app-employees-summary>
          </div>
           <div class=" w-full h-full bg-white-800 ">
            <app-project-summary></app-project-summary>
          </div>
      
             <!-- <div class=" w-full h-fullbg-green-300 mt-0">
            <app-employees-summary></app-employees-summary> 
          </div> -->
       <!-- <div class="">
        <app-employees-summary></app-employees-summary>
       </div> -->
      </div>
      </div>
    
    </nz-content>
  </nz-layout>