<nz-layout class="w-screen h-screen p-1">
  <nz-content class="w-full h-full p-2">
   
    <div class="  w-full h-full p-4">
      <div class=" flex items-center justify-center w-full h-full bg-gray-500" >
        <div class="grid grid-cols-2 w-full gap-8 ">
        <div class="w-full h-full bg-aqua-100 p-2">
          <app-employees-summary></app-employees-summary>
        </div>
        <div class=" w-full h-full bg-white-800 ">
          <app-employees-summary></app-employees-summary>
        </div>
    
            <div class=" w-full h-fullbg-green-300 mr-8">
          <app-employees-summary></app-employees-summary> 
        </div>
     <div class="w-full h-full">
      <app-employees-summary></app-employees-summary>
     </div>
    </div>
    </div>
    </div>
  </nz-content>
</nz-layout>